<ul>
    <li id="myElement">
        this is for basic usage.
    </li>
    <li class=" test-swipe ">
        <p>this is for test swipe.</p>
        <a href="http://hammerjs.github.io/recognizer-swipe/ "></a>
    </li>
    <li class="types">
        <div>
            <div class="test pan">pan area</div>
            <div class="result1">types01</div>
        </div>
        <div>
            <div class="test pinch">pinch area</div>
            <div class="result2">types01</div>
        </div>
        <div>
            <div class="test press">press > 500ms</div>
            <div class="result3">types01</div>
        </div>
        <div>
            <div class="test rotate">rotate area</div>
            <div class="result4">types01</div>
        </div>
        <div>
            <div class="test swipe">swipe area</div>
            <div class="result5">types01</div>
        </div>
        <div>
            <div class="test tap">tap area</div>
            <div class="result6">types01</div>
        </div>
    </li>
    <li class="sequence">
        this is for test event sequence.
    </li>
</ul>